@import "variables"
@import "account"
@import "helpers"

#logo 
	max-height: 1.5em

.menu-top-left, .menu-top-right
	margin-top: 4px !important

.jumbotron
	background-color: #555 !important

.jumbotron p
	color: #fff !important