<% if(!req.user){ %>

<li>
	<a href="/articles">
		<span class="glyphicon glyphicon-book"></span> News
	</a>
</li>

<% }else { %>

<li>
	<a href="/account/articles">
		<span class="glyphicon glyphicon-book"></span> News
	</a>
</li>
<% } %>