<div class="jumbotron text-center">
	<div class="container animated fadeInUp">
		<img src="/images/ghostrusters.png" style="height:100px;"/>
		<p class="lead">
			The ultimate french Rust Server
		</p>
		<p class="lead">
			Come and try to survive on our server
		</p>
		<p>
			<a href="/server" class="btn btn-primary btn-lg">
				Server Info
			</a>
			<a href="/mumble" class="btn btn-danger btn-lg">
				Mumble Info
			</a>
		</p>
	</div>
</div>

<div class="row">

	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="text-center text-info"><span class="glyphicon glyphicon-cloud-upload"></span> Rules</h3>
			</div>
			<div class="panel-body">
				<p class="text-justify">
					<ul>
						<li>PvP server, just try not to kill freshspawns :D</li>
						<li>Cheaters will be banned</li>
						<li>Admins will never abuse of their power</li>
					</ul>
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="text-center text-success"><span class="glyphicon glyphicon-folder-open"></span> Latest news</h3>
			</div>
			<div class="panel-body">
				<p class="text-justify">
					The rust++ door sharing system has been disabled in order to see if the new built in system of door password is practical
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="text-center text-error"><span class="glyphicon glyphicon-fire"></span> Useful Commands</h3>
			</div>
			<div class="panel-body">
				<p class="text-justify">
					/starter to get some stuff at spawn
				</p>
				<p class="text-justify">
					/notice to get some informations about the server
				</p>
				<p class="text-justify">
					/help for a full list of commands
				</p>
			</div>
		</div>
	</div>

</div>