<div class="jumbotron text-center">
	<div class="container animated fadeInUp">
		<p class="lead">
			[EU/FR] GhostRusters ++ - PVP/SLEEPERS/EVENT/FASTCRAFT
		</p>
		<p class="lead">
			net.connect 213.239.209.240:28095
		</p>
		<p class="text-left">
			Come and play on a new EU 100 slots server created on january the 21st : <br/>
			- 25% craft <br/>
			- Starter kit <br/>
			- Airdrops <br/>
			- Sleepers <br/>
			- Door sharing (for now we disabled the Rust++ door sharing system since rust added the password function, we will se if we enable it again later) <br/>
			- Friend list <br/>
			- Private messages <br/>
		</p>
	</div>
</div>