<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            
            <td>title</td>
            
            <td>text</td>
            
            <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% articles.forEach(function(article){ %>
        <tr>
            
            <td><%- article.title %></td>
            
            <td><%- article.text %></td>
            
            <td>
                <%- link_to('show', '/article/show/'+article.id, {class : 'btn btn-info'}) %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>