<h2 class="muted">GhostRusters' News</h2>

<table class="table table-striped">
    <thead>
        <tr>
            
            <td>Title</td>
            
            <td>Publication Date</td>
            
            <td></td>
        </tr>
    </thead>
    <tbody>

        <% articles.forEach(function(article){ %>
        <tr>
            
            <td><%- article.title %></td>
            
            <td><%- article.date %></td>
            
            <td>
                <%- link_to('show', '/article/show/'+article.id, {class : 'btn btn-info'}) %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>