<div class="panel panel-primary">
    <div class="panel-heading">articles</div>
    <div class="list-group">

		<% articles.forEach(function(article){ %>
			<a href="/article/show/<%= article.id %>" class="list-group-item">
				<%- article.title %>
			</a>
		<% }); %>
    </div>
</div>