<h2 class="text-info"><%- article.title %></h2>
<fieldset>
    <legend>Posted on : <%- article.date %></legend>
	
		<p><%- article.text %></p>

</fieldset>

<%- link_to('back to list', '/articles', {class : 'btn btn-primary'}) %>
